@use '../components/mixins' as *;
@use '../custom' as *;

.form{
    background-color: $gray-200;
    padding-bottom: 4rem;
    .satisfaction{
        @include gradient;
        padding-bottom: 5rem;
    }
.input-text{
    text-transform: capitalize;
}
}
input:invalid,textarea:invalid{
	border-color: $primary;
}   
// textarea:invalid{
// // @extend input:invalid;
// border: .1rem solid $primary;
// }