@use '../components/mixins' as *;
@use '../custom' as *;

.form{
    background-color: $gray-200;
    padding-bottom: 4rem;
    .satisfaction{
        @include gradient;
        padding-bottom: 5rem;
    }
.input-text{
    text-transform: capitalize;
}
.notsuccess{
    top: -4.65rem;
}
}
input:invalid,textarea:invalid,select:invalid{
	border-color: red;
}   
// select:invalid { color: red; }
.iti{
    width: 100%;
}